{{ define "main" }}
<h1>Page not found</h1>
<p>The page you are looking for does not exist. You may have mistyped the address or the page may have moved.</p>
<p><a href="{{ .Site.BaseURL }}">Go back to homepage</a></p>
{{ end }}