.footer {
    color: #ffffff;
    background-color: #1496ed;
}

footer.footer div.content p {
    margin: 0em;
}

h1.hero-title {
    color: #000 !important;
}

.date-item {
    color: #aaaaaa;
}

.table tr.is-selected {
    background-color: #1496ed8a;
    color: #000;
}

.table tr td.event_col {
    border-style: none;
}

.is-passed {
    background-color: #e2f7f4;
}

a.slide-link {
    text-decoration: underline;
}

ul.readings-list li {
    list-style-type: square;
}

a.white-link {
    color: #ffffff;
}

a.white-link:visited {
    color: #ffffff;
}

.ms-teams-button {
    color: #6264a7;
}


.to-right {
    float: right;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #eee;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li {
    list-style: outside none none !important;
}

.list-of-topics-box {
    background-color: #f5f8fc;
    margin: 1.5em;
}

h1.list-of-topics-title {
    text-align: center;
    margin: 1.5em;
}

.list-of-topics-box p.date {
    margin-top: 0.5em;
    line-height: 1.5;
    display: block;
    font-size: 12px;
    color: #818181;
}

.info-box {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    color: black;
    font-size: 88%;
    line-height: 1.5em;
    width: 100%;
}

a.external{
    color: #3366bb;
    background-image: url(/images/external-link-ltr-icon.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}