<div id="main" style="text-align: center;">
    <h1> Oops! 404 Not Found.</h1>
    <p> Sorry, the page you requested is not found!</p>

    <div>
        <p><a href="{{ " /" | relURL }}">Go back to the home page</a></p>
    </div>
</div>